@value colors: '../../assets/styles/variables/colors.css';
@value bgColor from colors;

.header {
  padding: 15px 0;
  margin-bottom: 25px;
  background: bgColor;
  color: #fff;
}
.content {
  display: flex;
  justify-content: space-between;
}

.link {
  color: inherit;
  margin-right: 15px;
  text-decoration: none;
}
